<div class="side-header">
  <div class="user-name"> 
    <%= link_to current_user.name, "#" %>
  </div>
  <div class="chat-create">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
  </div>
</div>

<div class="rooms">
   <% @user.each do |user| %>
    <div class="room">
      <div class="room-name">
        <%# <a href="#"><%= room.name</a> %> 
        <%= link_to user.name, "#" %>
        <%# room_messages_pathはmessages#index %>
        <%# ※room_messages_path(room) の(room) はroom-idのこと、今messagesを送ろうとしているが土台となるroomの指定が不可欠なので(room)で指定してあげてる%>
        <%# パスにroomを引数とすることで、メッセージと紐付いているチャットルームのidを持たせる %>
        <%# 5行目のroom.nameの「name」は、roomsテーブルのカラム名 %>
      </div>
    </div>
  <% end %>
</div>